# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Ignore the "html" folder
html/

# Ignore the sample config for theme options
inc/theme-options/sample/

# Ignore all the test file
test.html
test.php
test.css
