body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Scroll */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fd883f;
    transition: all .5s; 
    border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2c66af;
    transition: all .5s;
  }

/* Scroll */

.owl-carousel.owl-loaded {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.RowPadingError{
    margin-left: 0;
    margin-right: 0;
}

.RowMarginError{
    padding-left: 0;
    padding-right: 0;
}

img{
    width: 100%;
}

.CommonpaddingSection{
    padding: 1rem 0px;
}

.HerosSection{
    padding: 16px 0 0 0;
}

footer {
    margin-top: 1rem;
}

@media screen and (min-width: 1100px) {
    .CommonpaddingSection{
        margin: 1.3rem 0;
    }
    .tab-content{
        margin: 1.3rem 0;
    }
    .HerosSection{
        padding-top: 2.8rem;
        padding-bottom: .3rem;
    }
    footer .CommonpaddingSection{
        margin:  0;
    }
    footer{
        margin-top:  2.3rem;
    }
}

.container{
    width: 100%;
    max-width: 1500px;
    padding-left: 30px;
    padding-right: 30px;
}

.TitleRight{
    float: right;
}

h1{
    font-size: 48px;
    line-height: 58px;
}

h3{
    font-size: 32px;
    line-height: 42px;
    font-weight: 500;
}

.title{
    color: var(--logoColor-1);
    font-weight: bolder;
    margin-bottom: 1.7rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    display: inline;
}

.showInphone{
    display: none;
}

.lastFooter ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
}

.dmca{
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .col-xl-2{
        width: 20%;
    }
    
    .col-xl-10{
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .laptopWideth20{
        width: 20%;
    }
}

/* for tab start*/
@media screen and (max-width: 1023px) {
    h1 {
        font-size: 32px;
        line-height: 39px;
    }

    h3 {
        font-size: 25px;
        line-height: 29px;
        font-weight: 500;
    }
}
/* for tab end*/

/* for mobile start */
@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
        line-height: 34px;
    }

    h3 {
        font-size: 24px;
        line-height: 26px;
    }

    .DisNoneinPhone{
        display: none;
    }

    .fullwidtTebe{
        width: 100%;
    }

    .showInphone{
        display: block !important;
    }
}
/* for mobile end */

/* for only mobile mobile start */
@media screen and (max-width: 575px) {
    .Mobile50{
        width: 50%;
        margin: auto;
    }
}
/* for mobile end */

/* navigatin stat */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transform: all 5s;
}

.ToppNev {
    background-color: #dae7f7;
}

.TopNev .container .col-7 ul {
    display: flex;
    justify-content: space-between;
}

.TopNev{
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem 0;
    background-color: #9dbade3b;
    color: black;
}

.TopNev li{
    margin-right: 0.4rem;
    font-weight: 600;
}

.TopNev li:hover, 
.ContactDiv ul li a:hover{
    color: white;
    cursor: pointer;
}

.TopNev ul li .icon{
    color: var(--logoColor-2);
    font-size: 13px;
}

.ContactDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.ContactDiv ul li:not(:last-child){
    border-right: 1px solid rgb(33, 33, 33);
}

.ContactDiv ul li a{
    color: var(--navColor);
    text-decoration: none;
    text-align: center;
}

.ContactDiv ul li a i{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: #000;
}

.ContactDiv ul li a i:hover {
    background-color: white;
    color: white;
}

.ContactDiv ul li a .fa-facebook-f:hover{
    background-color: #0f90f3 !important;
}

.ContactDiv ul li a .fa-instagram:hover {
    background-color: #e7385c !important;
}

.ContactDiv ul li a .fa-linkedin-in:hover{
    background-color: #0070B1 !important;
}

.ContactDiv ul li a .fa-youtube:hover{
    background-color: #ff0000 !important;
}

.ContactDiv ul li a .fa-twitter:hover{
    background-color: #1d9bf0 !important;
}

.Youtube i {
    width: 28px !important;
}
/* Top Nevber end */

/* Mid NevBer start */
.MidNev{
    background-color: #dae7f7;
    color: black;
    padding: 12px 0;
}

.MidNev img{
   height:  auto;
   width: 100%;
}

@media screen and (min-width: 1024px) {
    .MidNev img{
        height: 57px;
        max-height: 57px !important;
    }
}

.Serchber{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Serchber form{
    width: 93%;
}

input{
    width: 90%;
    outline: none;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 8px !important;
    border: none;
    float: right;
    border: 1px solid rgb(192, 192, 192);
}

input:focus,input:hover{
    outline: none;
}

.textarea{
    border-radius: 8px !important ;
}

.SelectedIocn{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5%;
}

.IconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}

.IconDiv i{
    color: var(--logoColor-1);
}

.IconDiv:not(:last-child){
    margin-right: .5rem;
}

.IconDiv p{
    margin-bottom: 0 ;
    font-size: 12px;
}

.IconDiv i{
    font-size: 26px;
    margin-right: 0.4rem;
}

.IconDiv a{
    color: rgb(5, 5, 5);
}

/* switch acount start*/
.IconDiv img{
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.UserImg {
    position: relative;
}

.WtitchDiv{
    position: absolute;
    background-color: white;
    height: 238px;
    width: 250px;
    box-shadow: 0 0 10px #c9c9c9;
    bottom: -245px;
    right: 0;
    border-radius: 7px;
    padding: 9px 15px;
    text-align: center;
    display: none;
}

.WtitchDiv div{
    padding: 10px 5px;
    border-bottom: 1px solid var(--logoColor-1);
    font-size: 14px !important;
    text-align: left;
}

.WtitchDiv div:hover{
    border-radius: 7px;
    background-color: var(--logoColor-2);
    border-bottom: 1px solid var(--logoColor-2);
}

.WtitchDiv div:hover a{
    color: white;
}

.WtitchDiv div img{
    width: 30px;
    height: 30px;
    margin-right: .5rem;
    border: 50%;
    border: 1px solid var(--logoColor-2);
}

.WtitchDiv button{
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    outline: none;
    color: white;
    border-radius: 7px;
    margin-top: 15px;
    box-shadow: 0 0 10px #c9c9c9;
    background-color: var(--logoColor-1);
}

.WtitchDiv button:hover{
    background-color: var(--logoColor-2);
}

@media screen and (max-width: 1200px) {
    .LoveHideLaptop{
        display: none;
    }

    .IconDiv:not(:last-child) {
        margin-right: 2rem;
    }

    .SelectedIocn {
        justify-content: end;
    }
}

/* switch acount end*/

.Count{
    background: var(--logoColor-2);
    width: 29px;
    height: 18px;
    text-align: center;
    border-radius: 15px;
    color: white;
}

.Serchber form{
    position: relative;
}

.Serchber label{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--TopNev);
    height: 40px;
    width: 50px;
    padding-top: 8px;
    border-radius: 0 7px 7px 0;
    text-align: center;
    color: white;
}

.NavCart{
    position: relative;
    height: 50px;
}

.CartSummaryNav{
    display: none;
    position: absolute;
    right: 0;
    top: 50px;
    font-size: 14px;
    font-weight: 400 !important;
    padding: 17px;
    width: 350px;
    background-color: white;
    color: #8d8686;
    box-shadow: 0 0 10px #c9c9c9;
    border-radius: 7px;
}

.NavCart:hover .CartSummaryNav{
    display: block;
}

.CartUpperSummary .upperRight{
    text-align: right;
}

.CartUpperSummary .upperRight .Price{
    font-weight: 700 !important;
    font-size: 18px !important;
}

.CartNabBtn{
    width: 100%;
    text-align: center;
    background: var(--logoColor-1);
    color: white;
    padding: 11px 5px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}

.CartNabBtn:hover{
    background: var(--logoColor-2);
}

.CartNabBtn1{
    background-color: rgb(204, 204, 204);
}

.CartNabBtn a{
    width: 100%;
    color: white;
}

.CartNabBtn1 a{
    color:  rgb(90, 90, 90);
}

.CartSummaryProduct{
    margin: 2rem 0;
}

.CartProductTitle{
    font-weight: 500;
}

.CartNavForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.CartNavForm .CartProductQuantity{
    display: flex;
    align-items: center;
}

.CartNavForm .CartProductQuantity label{
    margin-right: 6px;
}

.CartNavForm .CartProductQuantity input{
    border: 1px solid gray;
    width: 40px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
}

.CartNavForm .CartProductQuantity button{
    background: none;
    border: none;
}

.CartNavForm .CartProductQuantity i{
    color: #af0707;
}
/* Mid NevBer end */

/* Bootom Navbar start*/
.BottomNev{
    border-bottom: 2px solid var(--navColor);
    background-color: white;
}

.DestopNavCtagoris{
    background-color: var(--logoColor-1);
    justify-content: space-between;
    padding: 10px 12px;
    color: white;
    font-weight: bold;
}

.DestopNavCtagoris i{
    float: right;
    font-size: 24px;
}

.horizontal-menu {
    display: flex;
    align-items: center;
}

.horizontal-menu ul li{
    margin-right: .5rem;
    font-size: 15px;
}

.horizontal-menu ul li a{
    color: #3e3e3e;
}

.horizontal-menu ul li a:hover{
    color: var(--logoColor-2);
    cursor: pointer;
}

.ShowInTabe{
    display: none;
}

.ChnagePositiono{
    position: fixed;
    top: 50PX;
}

/* .CatagorisIcinHide{
    display: none;
} */

.DestopNavCtagoris{
    position: relative !important;
}

.NavClickAction{
    position: absolute !important;
    display: none;
    margin-top: 11px;
    left: 0;
    background-color: white;
    box-shadow: 0 0 5px #a79f9f;
    width: 215px;
    padding: 5px;
    font-weight: 500;
    border-radius: 7px;
}

.CatagorisIcinHideCros{
    display: none;
}
/* Bootom Navbar end*/

/* nav for tabe and mobile start */
@media screen and (max-width: 1023px) {
    .hideOnPhone{
        display: none;
    }

    .ShowInTabe{
        display: block;
    }
}

.ShowInTabe a{
    color: white;
}

.MoboTop{
    background-color: #dae7f7;
    color: white;
    padding: 5px 0;
}

.MovboBottom{
    padding: 8px 18px;
    background-color: rgb(212, 211, 211);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.MovboBottom .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
}

.MovboBottom i{
    font-size: 30px;
}

.MovboBottom a {
    color: black;
}

.MovboBottom a:hover{
    color: var(--DestopCatagori);
}

.LogoTabe{
    text-align: center;
}

.LogoTabe img{
    height: 70px;
    margin: auto;
    text-align: center;
}

.CatagorisTabe i{
    float: left;
}

.CartTabe i{
    float: right;
}

.CartTabe i,.CatagorisTabe i{
    font-size: 32px !important;
    margin-top: 20px;
    color: var(--logoColor-1);
}

.navbar-toggler{
    padding: 0;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 0;
    color: white;
}

.navbar-toggler:focus{
    padding: 0;
    bottom: none;
    outline: none;
    box-shadow: none;
}

.dropdown-item {
    color: #000 !important;
    margin-top: 0;
    margin-bottom: 0;
    height: 20px;
}

.NavCaragoris{
    position: fixed;
    left: 0;
    top: 0px;
    background-color: rgb(237 237 237);
    width: 60%;
    color: rgb(15, 15, 15) !important ;
    padding: 0.5rem 0.5rem;
    height: 100%;
    overflow: scroll;
    z-index: 100;
}

.dropdown{
    display: block !important;
}

.dropdown-menu{
    --bs-dropdown-min-width: 0rem !important;
    position: relative !important;
    transform: translate3d(0px, 0px, 0px) !important;
    --bs-dropdown-padding-y: 0.0rem !important;
}

.nav-link{
    color: black !important;
    padding: .1rem 0rem;
}

.navbar{
    padding-top: 0;
}

.MobileMwnuTitle{
    width: 100%;
    background-color: var(--navColor);
    display: flex;
    justify-content: space-between;
    color: var(--logoColor-1);
}

.NavCaragoris ul li{
    padding: 6px;
}

.NavCaragoris ul li i{
    font-size: 24px;
}

.nav-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 4px 20px;
}

.nav-item:hover{
    background-color: var(--servocehover);
    color: white;
}

.nav-item i {
    color: black;
    margin-top: 8px;
    font-size: 13px;
}

.nav-item:hover .nav-link{
    color: white !important;
}

.nav-item:hover .navLinkI{
    color: white !important;
}


.NavSubBrance{
    justify-content: space-between;
    width: 100%;
}

.nav-item:not(:last-child){
    border-bottom: 1px solid #e7e6e6;
}

.nav-item img{
    height: 22px;
    width: 20px;
    margin-right: .2rem ;
}

.nav-item span{
    background: #cdcdcd;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 14px;
}

.navbar-nav .nav-link div{
    display:  inline !important;
}

.active{
    color: var(--logoColor-2) !important;
}

.DeopDownMenuMobiel{
    background-color: var(--logoColor-1);
    padding: 5px;
    margin-top: 5px;
    border-radius: 7px;
}

.DeopDownMenuMobiel .DeopDownDiv{
    margin-bottom: 10px;
}

.DeopDownMenuMobiel h6{
    color: white;
    border-bottom: 1px solid;
    font-weight: bold;
    padding-bottom: 6px;
}


.DeopDownMenuMobiel ul li{
    display: block;
    padding: 3px;
}

/* nav for tabe and mobile end */
/* navigatin end */


/* ======================================= */
/* Heros style start */
.MidCataIcon{
    max-height: min-content;
    height: min-content;
    z-index: 20 !important;
}


.HerosSection{
    color: white;
    margin-bottom: 1.3rem;
    margin-top: 151px;
}

.HerosSection2{
    margin-top: 134px;
}
/* comment */
.carousel-inner{
    border-radius: 7px !important;
    overflow: hidden !important;
}

@media screen and (max-width: 1199px) {
    .HerosSection {
        margin-top: 134px;
    }
}

.ComputerCatagoris{
    border: 1px solid #d5d5d5;
    padding: 10px 16px;
}

.ComputerCatagoris .nav-item{
    border: none;
}

/* Copy form templet start */
.NavSubBranceLI{
    padding: 0 !important;
    position: relative;
    z-index: 0;
    border-radius: 7px;
}

.category-sub-menu {
    border-radius: 7px;
    position: absolute;
    top: 0px;
    left: 100%;
    background: #ffffff;
    padding: 15px 10px;
    width: 900px;
    min-height: calc(100% - 10px);
    border: 1px solid rgba(34, 34, 34, 0.1);
    z-index: 100;
    display: none;
    box-shadow: 0 0 5px #e2e2e2;
}

.NavSubBranceHover:hover .TabletopSubMenu{
    display: block;
}

.category-sub-menu.bg-1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-size: contain;
    opacity: 0.15;
    z-index: -1;
}

.category-sub-menu h4 {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.category-sub-menu h4 span {
    font-size: 25px;
    line-height: 100%;
    color: #fe5502;
}

.category-sub-menu ul{
    padding-left: 10px;
}

.category-sub-menu ul li {
    display: block;
    font-size: 14px;
    height: 33px;
    line-height: 36px;
    text-align: left;
}

.category-sub-menu ul li:last-child {
    margin-bottom: -13px;
}

.category-sub-menu ul li a {
    font-weight: 400;
    color: #222222;
}
.category-sub-menu ul li a:hover,
.category-sub-menu ul li a:focus {
    color: #fe5502;
}
.category-sub-menu img {
    margin-top: 9px;
    border-radius: 7px;
}
.banner .category-list .category-item:hover .category-sub-menu,
.banner .category-list .category-item:focus-within .category-sub-menu {
    padding: 25px;
    top: 10px;
    opacity: 1;
    visibility: visible;
}
/* Copy form templet end */

.HerosCarosul{
    padding-left: 10px;
    padding-right: 0;
}

.HerosCarosul img{
    height: 424px;
} 

@media screen and (max-width: 1023px) {
    .HerosCarosul{
        padding-left:  0px;
        padding-right:  0px;
        padding-bottom: 0px;
    } 

    .HerosSection{
        margin-bottom: .5rem;
    }

    .CommonpaddingSection{
        padding: .5rem 0;
        margin-bottom: 0;
    }

    .HerosCarosul img{
        height: auto;
    }
}

.HerosRightSide{
    padding-right: 0 !important;
}

.HerosRightSide img{
    height: 136px;
    margin-bottom: .5rem;
    /* comment */
    border-radius: 7px;
}

.fullwidtTebe{
    /* z-index: -10; */
}

.carousel-indicators [data-bs-target] {
    width: 18px;
    height: 18px;
    background-color: var(--logoColor-2) !important;
    border-radius: 50%;
    border: 1px solid #2c66af;
}

@media screen and (max-width: 1023px) {
    .HerosSection{
        margin-top: 77px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .fullwidtTebe{
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .HerosSection {
        margin-top: 71px;
    }
}

.HerosDiv{
    text-align: center;
}

.HErosTextPart{
    margin: auto;
    padding-top: 60px;
    color: #eaf3ff;;
}

.HErosTextPart h1{
    font-weight: bolder;
    font-size: 40px;
}

.HErosTextPart h3{
    margin-bottom: 1.7rem;
    font-size: 28px;
}

/* for tab  start */
@media screen and (max-width: 1023px) {
    .HErosTextPart p {
        font-size: 14px;
        color: #ededed;
        max-width: 507px;
        margin: auto;
        font-weight: 400;
        margin-bottom: 1.3rem;
        width: 400px;
    }
}
/* for tab  end */


/* for mobile start */
@media screen and (max-width: 767px) {
    .HErosTextPart h1 {
        font-size: 28px;
    }

    .HErosTextPart h3 {
        font-size: 20px;
    }

    .HErosTextPart {
        padding-top: 16px;
        margin-bottom: 1.5rem;
        padding-left: 16px;
        margin-right: 15px;
    }
}
/* for mobile end */

/* Heros style end */
/* ======================================= */

/* Service List start */
.ServicesIconMainDIV{
    border: 1px solid #d5d5d5;
    padding: 10px 5px;
    padding-bottom: 5px;
    border-radius: 7px;
}

.PerServocesDiv{
    margin-bottom: 0.5rem;
    align-items: center;
}

.PerServocesDiv .Freeshoping{
    background-color: rgb(255 37 37);
}

.PerServocesDiv .Policy{
    background-color: #2cc97a;
}

.PerServocesDiv .Support{
    background-color: #b487db;
}

.PerServocesDiv .Points{
    background-color: var(--logoColor-2);
}

.PerServocesDiv .payment{
    background-color: #72a4ff;
}

.ServicesImg{
    background-color: var(--logoColor-1);
    margin-right: 7px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    min-width: 60px;
}

.ServicesImg a{
    margin: auto;
}

.ServicesImg a i{
    font-size: 38px;
    color: white;
}

.ServicesText{
    color: #888;
    font-weight: 500;
    font-size: 14px;
}

.ServicesText .servicesTitel{
    text-transform: uppercase;
}

.ServicesText a:hover{
    color: var(--logoColor-2);
}

.servicesP{
    font-size: 13px;
}

@media screen and (min-width: 1200px) {
    .W20{
        width: 20%;
    }
}

/* Service List end */
/* =============================== */
.BannerSec{
    padding: 0  27px;
}

@media screen and (max-width: 1023px) {
    .BannerSec {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.BannerDiv{
    height: 190px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

/* comment */
.BannerDiv a{
    border-radius: 7px;
    border: 1px solid var(--logoColor-1);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.BannerDiv img{
    height: 100%;
}
/* ============================ */
/* FEATURED BRAND  section start */
.Brandsection{
    border: 1px solid #c1c1c1;
    display: block;
    flex: none;
    border-radius: 7px;
    overflow: hidden;
}

.Titelh4{
    padding: 12px 19px;
    border-bottom: 1px solid #c1c1c1;
    background: #ededed;
}


.Titelh4, .Titelh42{
    border-bottom: 1px solid #c1c1c1;
    background: #ededed;
}

.Titelh42{
    justify-content: center;
    align-items: center;
}

.Titelh42{
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}

.Titelh42 .SeeAlSpan{
    padding-right: 19px;
}

.Titelh42 h4{
    padding: 12px 19px;
    background-color: var(--logoColor-1);
    display: inline-block;
    color: white;
    margin-bottom: 0;
}

@media screen and (max-width: 575px) {
    .Titelh42 h4{
        padding: 11px 15px;
    }

    .Brandsection{
        border: none;
    }
}

.owl-carousel{
    padding-top: 15px;
    padding-bottom: 15px;
}

.item{
    margin: auto;
    text-align: center;
}

.owl-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.owl-carousel .owl-item img{
    width: 80%;
    margin: auto;
}

.item img{
    width: 100%;
    height: 100px;
}

/* .Catagoris2Div{

} */

.CatagorisCrosul img {
    margin-bottom: .5rem;
    /* width: 70% !important; */
    margin: auto;
    height: 70px;
}

.Catagoris2Div div {
    padding: 5px !important;
    border: 1px solid transparent;
    padding: 3px;
    /* width: 70%;
    margin: auto; */
}

.Catagoris2Div div:hover {
    border: 1px solid var(--logoColor-2);
}

.Catagoris2Div div:not(:last-child){
    margin-bottom: .5rem;
}

.CatagorisCrosul span {
    color: black;
    font-weight: 600;
}

.Catagoris2Div div a span {
    color: var(--logoColor-1) !important;
}
/* FEATURED BRAND  section end */
/* ============================= */
/* Flash sale start */
.FlashIcon{
    color: #db5b00;
}

.DuleProduct div{
    margin-bottom: .1rem;
}

.DuleProduct div:not(:last-child){
    margin-bottom: .5rem;
}

.TitleCntent{
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.PerProductDiv {
    box-shadow: 0 0 5px #d7d5d5;
    margin-left: 2px;
    border: 1px solid #d7d5d5;
    border-radius: 8px;
    overflow: hidden;
}

.PerProductDiv:hover{
    border: 1px solid var(--logoColor-2);
}

.ProductDropdown .active{
    color: var(--logoColor-2) !important;
}


.PerProductDiv a{
    color: #000;
}

.ProductImgage{
    height: 200px;
    overflow: hidden;
}

.ProductImgage img{
    display: block;
    border-radius: 5px 5px 0 0;
    height: 100%;
}

.ProductImgage{
    position: relative;
}

.TimeCounting{
    font-weight: bold;
}

.TimeCounting span{ 
    background-color: var(--logoColor-2);
    color: white;
    padding: 2px 5px;
    border-radius: 14px;
}

.SeeAlSpan{
    color: var(--logoColor-1);
    text-align: right;
}

.SeeAlSpan a{
    color: var(--logoColor-1);
}

.SeeAlSpan a:hover{
    color: var(--logoColor-2);
    text-decoration: underline;
}

.DiscountPersentese{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--logoColor-1);
    padding: 3px;
    border-radius: 4px;
    color: white;
    font-size: 13px;
}

.ProductLove{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px !important;
    color: white;
    padding: 2px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    padding-top: 1px;
    background-color: var(--logoColor-2);
    text-align: center;
}

.ProductLove:hover{
    background-color: var(--logoColor-1);
}

.PrductText{
    align-items: center;
    text-align: left;
    padding: 8px;
    padding-bottom: 1.1rem;
}

.PrductText p{
    margin-bottom: .3rem !important;
}

.PrductText .ProductTitle{
    height: 47px;
    max-height: 47px;
    overflow: hidden;
}

.PrductText P .Price{
    color: var(--logoColor-1);
    font-size: 18px;
    margin-right: .5rem;
}

.PrductText p  .Discount{
    text-decoration: line-through;
    color: rgb(54, 54, 54);
    font-size: 14px;
}

.PrductText .StartList{
     color: var(--logoColor-2);
     font-size: 12px;
}
/* Flash sale end */
/* ============================= */
/* Furnicer sectin start */
.TitleBorderBottom .Titelh42{
    border-bottom: 2px solid #6aacff;
}

.ProductDropdown{
    padding-left: 7px;
    padding-right: 7px;
}

.tab-content .DuleProduct{
    margin-bottom: 1rem;
    padding-left: 7px;
    padding-right: 7px;
}


.ProductDropdown ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ProductDropdown ul li{
    display: inline;
    margin-right: 1rem;
    text-align: center;
    border-radius: 5px;
}

.ProductDropdown ul li a{
    display: inline;
    font-size: 17px;
    padding: 2px 10px;
    color: rgb(44, 44, 44) !important;
}

.ProductDropdown ul li a{
    border-radius: 5px;
}

.ProductDropdown ul li a:hover{
    color: var(--logoColor-2) !important;
}

.tab-content {
    padding: 1.7rem 1.3rem;
    padding-bottom: .7rem !important;
}

/* Furnicer sectin end */
/* ============================= */
/* footer start */
footer {
    color: #313743;
}

.FristFooter{
    background-color: #313743;
    text-align: left;
    padding: 1.5rem  0;
}

.FristFooter h4{
    color: #fff;
    margin-bottom: 0;
    line-height: 50px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    text-align: left;
}

.FristFooter ul{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.FristFooter ul li{
    display: block;
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 5s;
}

.FristFooter ul li:not(:last-child){
    border-bottom: 1px solid #555;
}

.footerLi:hover .footera{
    color: var(--logoColor-2);
    padding-left: 10px;
}

.FristFooter ul li a{
    color: #cbc9c9;
}

.FristFooter ul li a span{
    margin-right: .5rem;
}

.lastFooter{
    background-color: #363636;
    padding: 20px 0;
}

footer ul li{
    padding: 0 10px;
    font: 13px/20px;
    color: #666666;
}

footer ul li a{
    color: #aaaaaa;
}

.dmca{
    font-size: 14px;
    color: white;
    margin-top: 1.5rem;
}

.dmca a{
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 575px) {
    .ProductImgage {
        height: 149px;
        overflow: hidden;
    }

    .PrductText .ProductTitle {
        height: 42px;
        max-height: 42px;
        overflow: hidden;
    }

    .PrductText {
        font-size: 14px;
    }

    .DuleProduct div:not(:last-child) {
        margin-bottom: 0.3rem;
    }

    .PerProductDiv:not(:last-child){
        margin-bottom: 1rem !important;
    }

    .owl-carousel.owl-loaded {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    .PerProductDiv{
        margin-bottom: 0.7rem;
    }

    .FlashPaddingTop{
        margin-top: .3rem;
    }

    .tab-content .DuleProduct {
        margin-bottom: .5rem;
        padding-left: 3px;
        padding-right: 3px;
    }

    .tab-content {
        padding: 0.7rem 7px !important;
        padding-bottom: 0rem !important;
    }
    
    /* Furnicer supCata filterimg   */
    .FilterSubcatagorisInPhone{
        width: 100%;
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        padding-top: .5rem;
        margin-Top: .3rem;
    }

    .FilterSubcatagorisInPhone ul{  
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .FilterSubcatagorisInPhone li{
        margin-bottom: .3rem;
    }

    .FristFooter ul li{
        text-align: center;
    }
    
    .FristFooter{
        padding: 0;
    }

    .FristFooter h4{
        text-align: center;
        padding: 0;
        line-height: 30px;
    }

    .HerosCarosul{
        padding: 5px 0;
    }

    .BannerDiv{
        height: 158px;
        overflow: hidden;
        padding: 0px 10px;
    }

    .BannerDiv img{
        margin: auto;
    }

    .BannerDiv:not(:last-child){
        margin-bottom: .7rem;
    }
}
/* footer end */
/* ============================= */


:root {
    --logoColor-1: #2c66af;
    --logoColor-2: #ff863f;
    --servocehover: #e79855;
    --navColor: rgb(216, 216, 216);
    --navIconColor: red;
    --navmidbg: #75b535;
    --TopNev: #3c516a;
    --DestopCatagori: #3e6a10;
}
